In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# HA: Data_cleaning
-------------------------------
## Handling Missing Data Questions
### Question 1: How do you identify and handle missing values in a Pandas DataFrame?
-------------------------------
Identifying and handling missing values is a crucial task in data analysis using Pandas. Missing values can occur due to various reasons like data collection errors, data corruption, or simply because the information is not available. 

A missing value in a dataset is displayed as a question mark, zero, NaN or just a blank cell. But how can you deal with missing data?

Of course, every situation is different and should be evaluated differently.

There are many ways to deal with missing values. Let's look at typical options using the example of a dataset - 'Titanic'. This data is an open Kaggle dataset.

#### Identification missing values

There are two methods for detecting missing data: - `isnull()` and `notnull()`.

The Pandas `read.csv()` method is used for loading. The file path is quoted in brackets, so that Pandas reads the file into the Dataframes from that address. The file path can be a URL address or your local file address.

In [2]:
train_df = pd.read_csv('Titanic-Dataset.csv')

The result is a boolean value indicating whether the value passed to the argument is indeed missing. "True" ( True ) means that the value is a missing value, and "False" ( False ) means that the value is not missing.

In [3]:
missing_data = train_df.isnull()
missing_data.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,True,False,False,False,False,True,False

 `notnull()` method in Pandas is used to detect non-missing values in a DataFrame. It returns a boolean DataFrame where True indicates that the value is not missing, and False indicates that the value is missing. As an example, let's create some `df` DataFrame, check non-null values and output them, also let's find out which cabins in the dataset are non-null and output them. Let's write a code that will find the non-zero values in the 'Cabin' column and output them to us.

In [4]:
data = {'A': [1, 2, np.nan, 4],
        'B': [np.nan, 5, 6, 7],
        'C': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)

# Using notnull() to detect non-missing values
not_missing_data = df.notnull()
print(not_missing_data)

       A      B     C
0   True  False  True
1   True   True  True
2  False   True  True
3   True   True  True

In [5]:
not_missing_data = pd.notnull(train_df['Cabin'])
train_df[not_missing_data]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

Now let's see how many missing values are in each column using `train_df.isnull().sum()`. `train_df.isnull().sum()` calculates the total number of missing values in each column of the `train_df`. We use `.use()` function in this situation.

In [6]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### Handling missing values
##### Remove missing values
The most obvious thing we can do is to remove these missing values. We can delete rows and columns with missing values using `dropna()`.  As a first example, let's remove rows with missing values from a DataFrame that was created earlier.

In [7]:
df.dropna(inplace=True)
print(df)

     A    B  C
1  2.0  5.0  b
3  4.0  7.0  d

Now let's delete all rows with passengers who have unknown cabin numbers and output the result.

In [8]:
passengers_with_known_cabins = train_df.dropna(subset='Cabin')
print(passengers_with_known_cabins)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[204 rows x 12 columns]

##### Replace missing values
When dealing with missing data in a Pandas DataFrame, one approach is to fill in those missing values. The `fillna()` method provides a convenient way to achieve this. Let's work with the titanic dataset. For the example, let's replace the age value with the average passengers with missing age value. To do this, let's us find the average value of people's age and replace missing values with it. For convenience, let's take a particular person with a missing age value, for example the person from line 6 - Mr. James.

In [9]:
train_df['Age'].fillna(train_df['Age'].mean(), inplace = True)
print(train_df.iloc[5])

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                   29.699118
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

C:\Users\MZBes\AppData\Local\Temp\ipykernel_13896\3161201996.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Age'].fillna(train_df['Age'].mean(), inplace = True)

##### Interpolation 
To deal with missing data in a dataset, interpolation is a very useful method for estimating and filling the gaps. Interpolation refers to the estimation of missing values using known data points that surround them. This technique works best for time series or ordered data where we expect that the missing values exhibit some pattern.

Pandas provides for `interpolate()` function which allows for various types of interpolation. Let’s see it with a simple example:

In [10]:
data_interpolation = {'Date': pd.date_range(start='2022-01-01', periods=10),
        'Value': [1, 2, np.nan, 4, np.nan, 6, np.nan, 8, 9, 10]}
df_interpolation = pd.DataFrame(data_interpolation)
print(df_interpolation.interpolate(method='linear'))

        Date  Value
0 2022-01-01    1.0
1 2022-01-02    2.0
2 2022-01-03    3.0
3 2022-01-04    4.0
4 2022-01-05    5.0
5 2022-01-06    6.0
6 2022-01-07    7.0
7 2022-01-08    8.0
8 2022-01-09    9.0
9 2022-01-10   10.0

There, the missing values are replaced with the estimated values obtained through linear interpolation.

##### Forward Fill (ffill) and Backward Fill (bfill)
Forward fill `ffill` and backward fill `bfill` are techniques for filling missing values in a DataFrame by propagating non-null values forward or backward along a specified axis, which is applicable to time series data or sequential data where missing values happen in sequence.

1. Forward fill `ffill`

+ With forward fill method, the missing values get replaced with those of the previous available ones on that particular column, as it pursues the last observed value until the next null value is met.

- This way is good when the most recent valid information should be carried through subsequent periods with no information.

2. Backward fill `bfill`

+ The missing values are replaced with those of the succeeding populated cells within that specific axis through utilizing backward fill technique. It moves backwards to propagate till it gets to another previous unavailable value.

- In cases where there is an expectation of future valuable observation, back-fill can come into play here since all empty spaces should take up valid measures from their respective future positions.

Let’s see how they work using example:

In [11]:
data_fbfill = {'A': [1, np.nan, 3, np.nan, 5],
        'B': [np.nan, 2, np.nan, 4, np.nan]}
df_fbfill = pd.DataFrame(data_fbfill)

print(df_fbfill.ffill())
print(df_fbfill.bfill())

     A    B
0  1.0  NaN
1  1.0  2.0
2  3.0  2.0
3  3.0  4.0
4  5.0  4.0
     A    B
0  1.0  2.0
1  3.0  2.0
2  3.0  4.0
3  5.0  4.0
4  5.0  NaN

### Question 2: What is imputation, and why might it be useful in dealing with missing data?
-------------------------------
Missing values in a dataset can be filled using imputation, which is done by estimating or calling up for some calculated value to fill in the missing gaps. Imputing is an important step during data preprocessing since it guarantees that datasets are complete and ready for analysis and modeling. In order to handle missing at random and at the same time maintain the structure of the data, several imputation techniques have been developed.

There are various typical methods of imputation such as:

1. Mean/Median Imputation:

+ The mean or median of the column( feature) with missing values will substitute them.
- For numerical features this approach is straightforward and often used. As long as they do not bias on the distribution of the data, it assumes missings are lost randomly.

2. Mode Imputation:

+ Replacing missing categorical values with mode (most frequently occurring value) for each attribute.

- This type of imputation is appropriate for categorical features having missing values.

3. K-Nearest Neighbors (KNN) Imputation:

+ Values get imputed by estimating from similar instances within a dataset (nearest neighbors).

- KNN imputes takes into account distances between instances and their attributes when determining what values should be inserted.

4. Regression Imputation:

+ Use regression models trained on the non-missing values of the dataset to predict those missing.

- This technique can be used for both numerical and categorical features, it exploits the relationships among features to impute missing values.

5. Multiple imputation:

+ Generate multiple databases of plausible values for each missing value.

- In several statistical analyses, multiple imputation is carried out in order to account for the uncertainty stemming from imputed data.

For instance, mean imputation can be done using Pandas as shown below:

In [16]:
data = {'A': [1, 2, None, 4],
        'B': [5, None, 7, 8],
        'C': [None, 10, 11, 12]}
df = pd.DataFrame(data)

# Mean imputation for numerical columns
df_imputed = df.fillna(df.mean())

print("Original DataFrame:")
print(df)
print("\nDataFrame after Mean Imputation:")
print(df_imputed)

Original DataFrame:
     A    B     C
0  1.0  5.0   NaN
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0  12.0

DataFrame after Mean Imputation:
          A         B     C
0  1.000000  5.000000  11.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  12.0

In this example, missing values in numerical columns 'A' and 'B' are filled with the mean of each respective column using mean imputation.
Why imputation might be useful in dealing with data?
Here is some points why imputation should be used to handle missing data:

+ Maintenance of Data Integrity: Imputation ensure that datasets are complete and can be analyzed and modeled comprehensively. The completion of missing values through imputation helps prevent losing valuable data that may take place when incomplete information is discarded.

- Preservation of Sample Size: Eliminating rows or columns with missing values may result in considerable reduction in the size of the entire dataset, thereby affecting statistical power for analytical tasks or models. This procedure allows a researcher to keep all elements of sample hence guaranteeing robust and dependable outcomes.

+ Reduction of Bias: Removal of cases having missing data could lead to bias especially if it was related to the outcome variable. These methods try to compute the values lost by examining the available information prior to running other analysis so as minimize them.

- Increase in Statistical Power: Through imputing, more information is obtained which can enhance precision and accuracy making estimations that are statistically powerful. By filling in these gaps, imputations optimizes use of existing information that results in accurate outputs.

+ Compatible with Analytical Techniques: There are many statistical and machine learning algorithms which require complete datasets for training purposes and testing